.header-input{
    width: 180px;
    height: 40px;
    background-color: rgb(84, 84, 84);
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    padding-left: 5px;
    margin-top: 5px;
    align-self: baseline;
}

.icons{
    width: 55px;
    height: 40px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.text-form{
    display: flex;
    flex-direction: column;
}

.text-input{
    width: 280px;
    height: 26px;
    background: rgb(84, 84, 84);
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    padding-left: 5px;
    margin-top: 5px;
    align-self: flex-start;
}

.time-input{
    width: 114px;
    height: 26px;
    background: rgb(84, 84, 84);
    color: white;
    font-size: 16px;
    padding-left: 5px;
    margin-top: 6px;
    border-radius: 5px;
    font-weight: 600;
}

.add-btn{
    width: 100px;
    height: 32px;
    background: rgb(84, 84, 84);
    color: white;
    margin-top: 14px;
    border-radius: 5px;
    font-size: 22px;
    align-self: center;
}