.day{
    /* flex-direction: row; */
    width: 260px;
    height: 300px;
    flex-wrap: wrap;
    padding: 0 10px;
}

.day-header{
    height: 40px;
    width: 240px;
    
    display: flex;  
    justify-content: space-between;
    align-items: baseline;
}

.day-name{
    height: 40px;
    font-size: 28px;
    font-weight: 700;
}

.day-body{
    display: flex;
    flex-direction: column; 
}

.doing{
    display: block;
    width: 240px;
}

.time{
    display: inline;
    float: right;
}

/* .task-body{
    height: 250px;
}


.point-block{
    width: 280px;
    margin-bottom: 10px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.point{
    font-size: 18px;
    font-weight: 500;
} */