.task{
    width: 320px;
    height: 300px;
    background-color: #FFEE95;
    border-radius: 15px;
    padding: 0 20px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
}

.task-header{
    height: 40px;
    width: 300px;
    display: flex;
    
    justify-content: space-between;
    align-items: baseline;
}

.task-name{
    height: 40px;
    font-size: 28px;
    font-weight: 700;
}

.task-body{
    height: 250px;
    align-self: flex-start;
}


.point-block{
    width: 280px;
    margin-bottom: 10px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.point{
    font-size: 18px;
    font-weight: 500;
    /* margin-left: 8px; */
}