.day{
    /* flex-direction: row; */
    width: 260px;
    height: 300px;
    flex-wrap: wrap;
    padding: 0 10px;
}

.day-header{
    display: flex;
    justify-content: space-between;  
}

.edit-icon{
    width: 24px;
    height: 24px;
    align-self: baseline;
}

.day-name{
    width: 100px;
    height: 40px;
    margin-top: 8px;
    margin-left: 16px;
    align-self: baseline;
}

.day-body{
    display: flex;
    flex-direction: column;   
}

.doing{
    display: block;
    width: 240px;
}

.time{
    display: inline;
    float: right;
}

